@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus{
    outline: none;
}

.roseBg{
    background-color: rgb(255, 103, 103);
}


.whiteBg{
    background-color: white;
}

.grayBg{
    background-color: rgb(163, 163, 163);
}

.orangeBg{
    background-color: rgb(255, 202, 103);
}

.skyBg{
    background-color: rgb(94, 192, 231);
}

.blackBg{
    background-color: black;
}


  






  
  /* Define the scrollbar style */
  *::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }
  
  /* Define the thumb style */
  *::-webkit-scrollbar-thumb {
    background: #3B82F6;
    border-radius: 5px;
  }
  